
/* ====================================================================== */
/* web page styles */
/* ====================================================================== */

#page-container {
  max-width: 900px;
  margin: 0 auto;
  padding-top: 0;
}

.image-left {float:left; margin:10px; margin-left:0px;}
.image-right {float:right; margin:10px; margin-right:0px;}
.image-centre {align:center; margin:10px}

a:link {color: #888;}
a:visited {color: #888;}

h1 {margin-top: var(--spacing-sm); margin-bottom: var(--spacing-xsm);}
h2 {margin-top: var(--spacing-sm); margin-bottom: var(--spacing-xsm);}
h3 {margin-top: var(--spacing-sm); margin-bottom: var(--spacing-xsm);}
h4 {margin-top: var(--spacing-sm); margin-bottom: var(--spacing-xsm);}